@model ProductRecallSystem.Models.Recall

@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h4 class="btn btn-dark">@Model.Title</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrEdit">
            <input type="hidden" asp-for="RecallId" />


            @*<div class="form-group">
                    <label asp-for="Manufacturer.ManufacturerId" class="control-label"></label>
                    <select asp-for="Manufacturer.ManufacturerId" class="form-control" asp-items="Model.ManufactureList"></select>
                    <span asp-validation-for="Manufacturer.ManufacturerId" class="text-danger"></span>
                </div>*@




            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>


                <select asp-for="ManufacturerId" asp-items="Model.ManufactureList" id="manufacturers" class="form-control"></select>




                @*<select class="form-control" id="manufacturers" asp-for="ManufacturerId"  >
                        <option>---Please Select---</option>


                    </select>*@

            </div>



            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>


                <select class="form-control" id="products" asp-for="ProductId">
                </select>

            </div>



            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br>

<div>

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>


<script>

    //$(document).ready(function () {

    //    $.ajax({

    //        type: 'GET',
    //        url: "/Recall/GetManufacturers",
    //        success: function (result) {

    //            console.log(result);

    //            $("#manufacturers").html('');
    //            $("#manufacturers").html("<option>----Please Select-----</option>");

    //            var html;

    //            for (var i = 0; i < result.length; i++) {


    //                html += '<option value = ' + result[i].manufacturerId + '>' + result[i].name + '</option>'

    //            }

    //            $("#manufacturers").append(html);


    //        },
    //        error: function (error) {

    //            alert(error);
    //        }



    //    });


    //})


    //$.ajax({
    //    type: 'Get',
    //    url: '/Recall/GetproductList',
    //    success: function (result) {
    //        console.log(result);

    //        $('#products').html();
    //        $("#products").html("<option></option>");

    //        var html;
    //        for (var i = 0; i < result.length; i++) {

    //            html += '<option value = ' + result[i].productId + '>' + result[i].name + '</option>'
    //        }

    //        $("#products").append(html);



    //    },
    //    error: function (error) {

    //        error.log();
    //    }


    //})



    $(document).ready(function () {
        debugger;
        $('#manufacturers').change(function () {
            $.get("/Recall/GetproductList", { ManufacturerId: $('#manufacturers').val() }, function (data) {
                $("#products").empty();

                $.each(data, function (index, row) {


                    $('#products').append("<option value = '" + row.productId + "'>" + row.name + "</option>")


                });

            });


        });


    });




</script>

